.root {
  background-color: #191E29;
  padding: 10px 0;
  border-bottom: 0px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #3d3d3d;
  font-weight: 700;
  text-decoration: none;
}

.buttons {
  button {
    margin-left: 10px;
    color: #fff;
  }

  a {
    text-decoration: none;
  }
}
