body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #123d46 !important;
}

.footer {
  background-color: #191E29;
  border-bottom: 0px solid #e0e0e0;
}